body {
  text-align: center;
}

.big-num {
  font-size: 3rem;
  text-align: center;
}
.container-game {
  padding-top: 10%;
  display: inline-block;
  /* width: 300px; */
}
/* .row {
  float: none;
  margin-right: auto;
  margin-left: auto;
} */
.col-3 {
  border: 10px solid #bbad9e;
  padding-top: 30px;
  width: 150px;
  height: 150px;
}

h2 {
  font-size: 3.5rem;
  font-weight: bold;
}

.row {
  background-color: #bbad9e;
}
