body {
  text-align: center;
}

.big-num {
  font-size: 3rem;
  text-align: center;
}
.container-game {
  padding-top: 0%;
  display: inline-block;
  /* width: 300px; */
}
/* .row {
  float: none;
  margin-right: auto;
  margin-left: auto;
} */
.col-3 {
  border: 0.75rem solid #bbad9e;
  padding-top: 5%;
  width: 10rem;
  height: 10rem;
}

h1 {
  padding-top: 1%;
  font-weight: bold;
  color: darkslategray;
}

h2 {
  font-size: 3.5rem;
  font-weight: bold;
}

.row {
  background-color: #bbad9e;
}

#restart-button {
  display: block;
  margin: 1% auto;
  border-radius: 15%;
  background-color: #f2b179;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  border: 0.45rem solid #bbad9e;
}
#restart-button:active {
  background-color: #f2d3b8;
  transform: translateY(4px);
}

#score-box {
  background-color: #bbada0;
  font-weight: bold;
  font-size: 1.5rem;
  border: 0.45rem solid #bbad9e;
  color: white;
  border-radius: 5%;
  padding: 0;
  margin-bottom: 1.2%;
}

@media screen and (max-width: 680px) {
  .col-3 {
    border: 0.45rem solid #bbad9e;
    padding-top: 4%;
    width: 5.5rem;
    height: 5.5rem;
  }
  h2 {
    font-size: 2.2rem;
    font-weight: bold;
  }
  .big-num {
    padding-top: 10%;
    font-size: 1.5rem;
    text-align: center;
  }
  #restart-button {
    font-size: 1rem;
    border: 0.2rem solid #bbad9e;
  }
}
