body {
  text-align: center;
}

.container-game {
  padding-top: 10%;
  display: inline-block;
  /* width: 300px; */
}
/* .row {
  float: none;
  margin-right: auto;
  margin-left: auto;
} */
.col-3 {
  border: 2px solid black;
  padding: 45px;
  width: 150px;
  height: 150px;
}
